.nav {

}

.nav__links {
	float: left;
	text-align: center;
	display: inline-block;
	padding: 16px 16px;
}

.nav--no-textdecoration{
	text-decoration: none;
}

.nav__dropdowncontent {
	display: none;
	position: absolute;
}

.nav__dropdown:hover .nav__dropdowncontent{
	display: block
}